html {
  font-size: 16px;
}

.social-bar { 
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}

.icon {
  color: white;
  text-decoration: none;
  padding: .7rem;
  display: flex;
  transition: all .5s;
 } 

.icon-facebook {
  background: #2E406E;
  border-radius: 1rem 0 0 0;

}

.icon-youtube {
  background: #E83028;
  
}

.icon-whatsapp {
  background: #25D366;
  
}

.icon-instagram {
  background: #E4405F;
  border-radius: 0 0 0 1rem;  
}

.icon:hover {
  padding-left: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}